.createbtn{
    background-color: rgb(4, 77, 4);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding : 12px 20px 12px 20px;
    align-self: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
}

.createbtn:hover{
    background-color: rgba(4, 77, 4, 0.904);
    font-size: 22px;
}

.outer-wrap{
    margin : 5% 3% 0 3%;
    box-sizing: content-box;
    border: 1px solid ;
}

.heading{
    text-align: center;
    margin-top : 3%;
    margin-bottom: 2%;
    font-size: 64px;
}

.contents{
    padding: 2% 0 2% 2%;
}

.title{
    font-size : 150%;
}

.date, .author{
    opacity: 0.5;
    font-size : 125%;
}

.description{
    font-size : 120%;
}

a{
    text-decoration: none;
    color: #ff3d3d;
}

.allblogsbtn,
.readmore{
    height : 30px;
    width : 100px;
    border: none;
    border-radius: 5px;
    background-color: #fff3f3;
    align-items: center;
    padding: 5px;
}

.allblogsbtn:hover,
.readmore:hover{
    background-color: #ffd4d4;
}

.showcontents{
    text-align: center;
}

.allblogsbtn{
    align-self: center;
    height: 30px;
    width : 100px;
}
